/*
    ---------------------------------------------------
    Author      : Shree Dhar Acharya
    StudentId   : 8899288
    Course      : Advanced Full Stack Programming
    Application : PulseCrew-Employee Management System
    ----------------------------------------------------
*/

.snackbar {
  position: fixed;
  top: 0;
  margin-top: 170px;
  width: 50%;
  padding: 10px;
  text-align: center;
  display: none;
  transition: display 0.5s ease;
}
.snackbar.show {
  display: flex;
  border-radius: 10px;
  padding: 15px;
}
  .snackbar.success {
    background-color: rgb(4, 146, 4);
    color: white;
  }
  
  .snackbar.error {
    background-color: red;
    color: white;
  }
  