/*
    ---------------------------------------------------
    Author      : Shree Dhar Acharya
    StudentId   : 8899288
    Course      : Advanced Full Stack Programming
    Application : PulseCrew-Employee Management System
    ----------------------------------------------------
*/

.button-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 250px;
  }
  
  .button-container button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
  }
  
  .button-container button:hover {
    background-color: #ddd;
  }
  .detailHeader {
    display: flex;
    justify-content: flex-start;
  }

  .back{
    width: 100px;
  }

  .detailTitle {
    margin-left: 20px;
  }
  